@import '../stylesheets/element.scss';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 0 calc(var(--sys-spacing-side-padding) / 2);
}
