:root {
  --ref-palette-primary-hue: 190;
  --ref-palette-primary-chroma: 48%; /* maximum 48 */
  --ref-palette-secondary-hue: var(--ref-palette-primary-hue);
  --ref-palette-secondary-chroma: 24%;
  --ref-palette-tertiary-hue: 44;
  --ref-palette-tertiary-chroma: 88%;
  --ref-palette-neutral-hue: var(--ref-palette-primary-hue);
  --ref-palette-neutral-chroma: 8%;
  --ref-palette-neutral-variant-hue: var(--ref-palette-primary-hue);
  --ref-palette-neutral-variant-chroma: 16%;
  --ref-palette-error-hue: 0;
  --ref-palette-error-chroma: 64%;
}
