.card-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: calc(2 * var(--sys-spacing-track));

  .title {
    margin: 0;
    color: var(--md-sys-color-on-surface-variant);

    font-family: var(--md-sys-typescale-title-large-font-family-name);
    font-style: var(--md-sys-typescale-title-large-font-family-style);
    font-weight: var(--md-sys-typescale-title-large-font-weight);
    font-size: var(--md-sys-typescale-title-large-font-size);
    letter-spacing: var(--md-sys-typescale-title-large-tracking);
    line-height: var(--md-sys-typescale-title-large-height);
    text-transform: var(--md-sys-typescale-title-large-text-transform);
    text-decoration: var(--md-sys-typescale-title-large-text-decoration);
  }

  .card {
    --_background-color: var(--md-sys-color-surface-container-low);

    position: relative;
    border-radius: var(--sys-radius-medium);
    background-color: var(--_background-color);

    md-elevation {
      --_level: 2;
    }

    .card-scroll {
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;

      md-list {
        --_container-color: transparent;

        md-list-item {
          --_list-item-container-color: var(--_background-color);

          md-icon {
            color: var(--md-sys-color-primary);
            margin-inline-start: calc(2 * var(--sys-spacing-track));
          }

          md-icon.danger {
            color: var(--md-sys-color-error);
          }
        }
      }

      &::before {
        content: '';
        position: absolute;

        width: 100%;
        height: 100%;
        z-index: var(--sys-zindex-above);
      }
    }
  }
}
