:host {
  --md-elevation-level: var(--_level);

  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: var(--sys-radius-small);

  background-color: var(--_background-color);
}

.slots {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: var(--sys-radius-small);
  overflow: hidden;
}

:host([type='elevated']) {
  --_background-color: var(--md-sys-color-surface-container-low);
  --_level: 1;
}
